.active {
    background-color: #f0f0f0;
    color: #000;
    font-weight: bold;
    border-left: 4px solid #3498db;
}


.inactive {
    background-color: transparent;
    color: #999;
}

.active:hover {
    background-color: #D3D3D366;
    color: #FFFFFF;
}

.submenuactive {
    background-color: #f0f0f0;
    color: #000;
    font-weight: bold;
    border-left: 4px solid #3498db;
}

.submenuactive:hover {
    background-color: #D3D3D366;
    color: #FFFFFF;
}